// test.scss
/* test.css */

// ========================================================
// variables - color
$white: #fff;
$white_02: #efefef;
$primary_01: #1a5d54;
$primary_02: #834c33;
$light_gray_01: #c4c4c4;
$light_gray_02: #aaa;
$light_gray_03: #757575;
$deepgray: #505050;
$black1: #333;
$black2: #171717;


// @mixin - font 
@mixin tabMenuFont {
  font-weight: bold;
  font-size: 22px;
  color: $light_gray_03;
  line-height: 57px;
  text-align: center;
  text-transform: capitalize;
}
@mixin menuCardTitle {
  font-weight: 500;
  font-size: 22px;
  color: $black2;
  line-height: 32px;
  text-transform: capitalize;
}
@mixin menuCardCon {
  font-weight: 500;
  font-size: 12px;
  color: $light_gray_03;
  line-height: 18px;
  text-transform: capitalize;
}


// @mixin - common
@mixin pseudoCode {
  display: block;
  content: '';
  @content;
}


// ========================================================
#wrap {
  width: 100%;
  height: 100%;
  background-color: $light_gray_01;
}

// ========================================================
// #headBox -------------------------------------------
#headBox {
  width: 100%;
  height: auto;
  min-height: 100px;
  background-color: $white;
}

// #viewBox -------------------------------------------
#viewBox {
  width: 100%;
  height: auto;
  min-height: 250px;
  background-color: $light_gray_03;
}

// #menuBox -------------------------------------------
#menuBox {
  width: 100%;
  height: auto;
  min-height: (2269px - 250px);
  background-color: $white;
}
.tab_menu_area {
  $tab_menu_w: 1100px;
  width: $tab_menu_w;
  height: 57px;
  margin: auto;
  background-color: #eda;
  & > ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    & > li {
      width: auto;
      min-width: ($tab_menu_w / 5 - (10px * 4));
      height: 100%;
      @include tabMenuFont;
      background-color: $light_gray_01;
    } 
  }
  & > ul:after, & > ul::after  {
    position: absolute;
    bottom: -21px;
    left: 0;

    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: $light_gray_01;
  }
}
.menu_con_area {
  width: 1098px;
  height: 1640px;
  margin: auto;
  margin-top: 38px;
  margin-bottom: 129px;
  background-color: #dfa;
}
.menu_detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 410px;
  padding: 30px;
  background-color: $white;
  outline: 1px solid #0b7171;
  & > div {
    width: 240px;
    height: 350px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid $light_gray_02;
  }
}

.menu_detail dl dt {
  position: relative;
  @include menuCardTitle;

  &:after, &::after {
    position: absolute;
    bottom: 3px;
    left: 0;

    @include pseudoCode;
    width: 100%;
    height: 1px;
    background-color: $light_gray_03;
  }
}
.menu_detail dd:nth-child(1) {
  width: 193px;
  height: 39px; 
  background-color: #eda;
  @include menuçCardCon;
}
// .menu_detail + dd:nth-child(2) {

// }

.menu_detail_img {
  width: 218px;
  height: 220px;
  border-radius: 3px;
  background-color: $light_gray_01;
}


// #footBox -------------------------------------------
#footBox {
  width: 100%;
  height: auto;
  min-height: 450px;
  background-color: $black1;
}




// ========================================================