@charset "UTF-8";
/* test.css*/


/* design
=============================================== */
#wrap {
  width: 1200px;
  height: auto;
  min-height: 700px;
  margin: 50px auto;
}


/* #headBox
-----------------------------------------------------*/
#headBox {
  width: 100%;
  height: 100px;
  padding: 60px 20px 0;
  background-color: #ccc;
}
  h1 {
    float: left;
    width: 200px;
    height: 40px;
    background-color: #afa;
  }
  .navigation {
    float: right;
    width: 600px;
    height: 30px;
    margin-top: 10px;
    background-color: #aff;
  }
  /* event */
  /* .navigation:hover .nav_list {
    display: block;
  } */
  .navigation > ul > li:hover > .nav_list {
    display: block;
  }
  .nav_title:hover {
    background-color: #171717;
    color: #fff;
  }
  /* 아래의 방법 3 코드는 문제가 있음!!
  왜냐면 인접 형제 요소라서... 클릭이 안된다.
  하지만 위의 방법 2개는 ... 부모와 자식 요소라서
  부모요소에 호버를 해도 클릭을 해도 자식 요소를 포함해서 건드리게 된다! */
  /* .nav_title:hover + .nav_list {
    display: block;
  } */
    .navigation > ul {
      width: 100%;
      /* height: 100%; */
      height: auto;
      background-color: #999;
    }
    .navigation > ul > li {
      float: left;
      width: 25%;
      /* height: 100%; */
      height: auto;
      padding: 0 5px;
    }
    .nav_title {
      width: 100%;
      /* navigation과 동일한 height 적용 -> 그래야 .nav_title a 에서 높이와 너비 100%로 설정해도 문제 없음! */
      height: 30px;
    }
    .nav_title a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 30px;
      background-color: #faa;
    }
    .nav_list {
      display: none;
      width: 100%;
      height: auto;
      color: #fff;
      background-color: #333;
      /* background-color: #dfd; */
    }
    .nav_list li {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      text-align: center;
      line-height: 40px;
      /* background-color: #dff; */
    }
    .nav_list a {
      display: block;
      width: 100%;
      height: 100%;
    }



/* #viewBox 
-----------------------------------------------------*/
#viewBox {
  width: 100%;
  height: 300px;
  background-color: #aaa;
}




/* #contentBox 
-----------------------------------------------------*/
#contentBox {
  width: 100%;
  height: 200px;
}
  #contentBox > .con_area {
    float: left;
    width: 400px;
    height: 200px;
  }
  .notice_area {
    background-color: #afd;
  }
  .gallery_area {
    background-color: #daf;
  }
  .commercial_area {
    background-color: #afd;
  }







/* #footBox
-----------------------------------------------------*/
#footBox {
  width: 100%;
  height: 100px;
  padding-top: 30px 20px;
  padding-bottom: 50px;
  background-color: #999;
}
#footBox > h2 {
  float: left;
  width: 200px;
  height: 40px;
  background-color: #faa;
}
address {
  float: left;
  width: 600px;
  height: 30px;
  margin-top: 10px;
  margin-left: 100px;
  background-color: #afa;
}
.family { 
  float: right;
  width: 200px;
  height: 30px;
  margin-top: 10px;
  background-color: #aaf;
}





/* 
#headBox {}
#viewBox {}
#cnBox {}
#footBox {} */

