@charset "UTF-8";
/* test.css*/

/* reset.css
=============================================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
ul, ol, dl {
  list-style: none;
}

/* common.css
=============================================== */
.clearfix:after,
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.blind {
  width: 0;
  height: 0;
  overflow: hidden;
}

/* design
=============================================== */
.q_8 {
  width: 800px;
  height: 600px;
  margin: auto;
  background-color: #f0a;

  /* 방법 2 */
  position: relative;
  
  /* 방법 1 */
  /* border-top: 1px solid #f0a; */

  /* 방법 1 - 2 */
  padding-top: 225px;
  padding-left: 150px;
  box-sizing: border-box;
}

.q_8 > .modal {
  /* 응용: 변수 선언 및 할당 */
  --width: 500px; 

  width: 500px;
  height: 150px;
  background-color: #0af;

  /* 방법 2 */
  position: absolute;
  top: 30%;
  left: 50%;
  /* margin-left: -250px; */
  /* 응용: 변수로 게산 */
  /* margin-left: calc(var(--width) / -2); */
  /* 응용: transform: translate(); 사용 */
  /* transform: translate(-50%, 0); */

  /* 방법 1 - 포지션 사용 안하고...  */
  /* margin-top: 225px;
  margin-left: 150px; */

}




/* design */
.wrap {
  position: relative;
  width: 800px;
  height: 600px;
  background-color: #f0a;
}
.q_9 > .side_indicator {
  width: 50px;
  height: 350px;
  background-color: #0af;

  position: absolute;
  right: 30px;

  /* 방법 1 */
  /* 부모 높이값 - 현 요소 높이값 = 250px을 나누기 2하면 125px */
  /* top: 125px; */

  /* 방법 2 */
  top: 50%;
  /* 전체 높이가 100이고 현재 요소의 높이가 50이면 -> 150을 내려오고도 25를 더 내려와야지 세로로 가운데 정렬이 가능! */
  margin-top: -175px;
}
.q_9  ul {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.q_9  li {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
}
.q_9 li:last-child {
  margin-bottom: 0;
}


