/*
Error: Invalid CSS after "...===============": expected "{", was ""
        on line 22 of scss/src/test.scss

17: }
18: 
19: 
20: 7
21: // ==================================================

Backtrace:
scss/src/test.scss:22
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/scss/parser.rb:688:in `block'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in `ruleset'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/dayepark/.rvm/gems/ruby-2.6.6/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...===============\": expected \"{\", was \"\"\A         on line 22 of scss/src/test.scss\A \A 17: }\A 18: \A 19: \A 20: 7\A 21: // =================================================="; }
