@charset "UTF-8";
/* test.css*/


/* design
=============================================== */
body {
  background-color: #ddd;
}
#wrap {
  width: 320px;
  height: 640px;
  margin: 50px auto;
}


/* #headBox
-----------------------------------------------------*/
#headBox {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #f02138;
} 
  h1 {
    position: absolute;
    top: 0;
    left: 45px;

    float: left;
    width: 55px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    /* color: #fff; */
    background-color: rgb(104, 185, 255);
  }
  .gnb {
    position: absolute;
    top: 0;
    left: 0;

    float: left;
    width: 45px;
    height: 45px;
    background-color: #fff;
    
  }

  /* hidden menu */
  .hidden_menu {
    position: absolute;
    top: 45px;
    z-index: 9999;
    width: 240px;
    height: 500px;
    background-color: #fff;
  }
    .hidden_menu > div {
      padding: 0 10px;
      box-sizing: border-box;
    }
    .hidden_menu_profile {
      width: 100%;
      height: 30px;
      height: auto;
      background-color: aquamarine;
    }
    .img_circled {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color: yellow;
    }
    .hidden_menu_main_list {
      width: 100%;
      height: 350px;
      background-color: yellowgreen;
    }
    .hidden_menu_settings {
      width: 100%;
      height: auto;
      min-height: 100px;
      background-color: violet;
    }




  .unb {
    float: right;
    width: 180px;
    height: 45px;
    background-color: rgb(73, 115, 152);
  } 
    .unb li {
      float: left;
      width: 40px;
      height: 40px;
      margin: 2.5px 2.5px;
      /* margin-right: 5px; */
      background-color: aqua;
    }
    /* .unb li:last-child {
      margin-right: 0;
    } */
  .aside_bar {
    float: right;
    width: 100%;
    height: 55px;
    border-top: 3px solid #f45b6d;
  }
    /* .aside_bar span {}
    .aside_bar button {} */


/* #mainBox
-----------------------------------------------------*/
#mainBox {
  width: 100%;
  /* height: 540px; */
  height: auto;
  min-height: 540px;
  background-color: #fff;
}
.main_box_wrapper {
  position: relative;
  border-top: 1px solid #fff;
}
.main_box_wrapper > div {
  width: 250px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #ddd;
}
  .main_box_1 {
    height: 180px;
  }
  .main_box_2 {
    height: 100px;
    /* padding: 5px; */
    /* box-sizing: border-box; */
  }
  .main_box_3 {
    height: 150px;
  }
    .main_box_3 > div{
      float: left;
      width: 90px;
      height: 60px;
      margin-left: 10px;
      margin-top: 10px;
      /* margin: 5px; */
      /* margin-left: 25px; */
      background-color: #555;
    }
    .main_box_3 > div:nth-child(1) {
      margin-left: 25px;
    }
    .main_box_3 > div:nth-child(3) {
      margin-left: 25px;
    }

  

