@charset "UTF-8";
/* test_coupang_sign_up.css*/


/* common.css */
input:focus,
input:active {
  outline: 0;
  /* border: 0; */
  border-bottom: 2px solid #0174E9;
}
h2 {
  font-size: 0.95rem;
  padding: 15px 0px;
}

/* ===================================== */
a:hover {
  text-decoration: none;
}
html, body {
  width: 100%;
  height: 100%;
}

#wrap {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding: 0 180px;
  padding-top: 40px;
  background-color: #fefffe;
}
#headBox {
  width: 100%;
  height: auto;
  /* background-color: #fdd; */
}
h1 {
  width: 230px;
  height: 50px;
  margin: auto;
  text-align: center;
  line-height: 40px;
  font-size: 3.5rem;
  margin-bottom: 10px;
  /* background-color: #03c75a; */
}
h1 a {
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: #efa; */
}
h1 span:nth-child(1) {
  color: #935127;
}
h1 span:nth-child(2) {
  color: #F7552F;
}
h1 span:nth-child(3) {
  color: #FEC408;
}
h1 span:nth-child(4) {
  color: #88CB2F;
}
h1 span:nth-child(5) {
  color: #31B3DD;
}

/* ------------------------------------ */
/* #signUpBox */
#signUpBox {
  width: auto;
  height: auto;
  margin: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  /* background-color: #faa; */
}

.private {
  width: 100%;
  height: auto;
  /* background-color: #88CB; */
}
.private li {
  position: relative;

  width: 100%;
  height: 48px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid #cbcbcb;
  /* background-color: #ff2; */
}
.private label {
  float: left;
  display: block;
  width: 45px;
  height: 46px;
  border-right: 1px solid #cbcbcb;
  background-color: #f9f9f9;
}
.private label i {
  /* text-align: center; */
  margin-left: 15px;
  line-height: 48px;
  color: #cbcbcb;
  /* background-color: #eee; */
}
.private input {
  float: right;
  width: 413px;
  height: 46px;
  /* border: 1px solid #cbcbcb; */
    /* background-color: #fad; */
  }
  .private input::placeholder {
    font-size: 14px;
    font-weight: 600;
    text-indent: 0px;
    color: #a9a9a9;
  }


/* 가이드 메세지 */
.guide_message {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
}




/* ------------------------------------ */
/* #termsBox */
#termsBox {
  width: auto;
  height: auto;
  margin: auto;
  padding-top: 15px;
  /* backgroundcolor: #efa; */
}
.check_all {
  padding-bottom: 20px;
}
.terms_resp {
  width: 100%;
  height: auto;
  padding: 20px;
  border: 1px solid #cbcbcb;
}
#termsBox input {
  /* display: none; */
  visibility: hidden;
  /* width: 20px;
  height: 20px; */
  margin: 0;
}
#termsBox label {
  position: relative;
}
#termsBox label i {
  position: absolute;
  top: 0;
  left: -20px;
  color: #909DAA;
} 
#termsBox input:checked + label {
  position: relative;
  display: inline-block;
}
#termsBox input:checked + label::before {
  display: inline-block;
  width: 15px;
  height: 15px;

  content: 'v';
  position: absolute;
  /* top: 0px; */
  left: -21px;
  z-index: 10;

  text-align: center;
  line-height: 18px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  background-color: #3369FD;
  border: 1px solid #333;

  /* transition: all 300ms ease; */
}
.check_all_btn {
  padding-left: 5px;
}
.check_all_message {
  padding-top: 10px;
  padding-left: 22px;
  font-size: 0.81rem;
  color: #545454;

}

/* 체크박스 - 모두 동의합니다 버튼 */
.check_all_btn span {
  font-weight: 800;
} 
.terms_resp span {
  display: inline-block;
  font-size: 0.95rem;
  padding-left: 3px;
  padding-bottom: 10px;
  color: #545454;
}

/* 선택란들 */
.checkbox_optional_inner {
  padding-left: 15px;
}


/* 맨하단 - 동의하고 가입하기 버튼 */
.sign_up_btn {
  width: 100%;
  height: auto;
  /* background-color: #fda; */
}
.btn {
  width: auto;
  height: auto;
  /* background-color: #faa; */
}
.btn button {
  width: 100%;
  height: 52px;
  padding: 16px 0;
  margin-top: 30px;
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 rgb(0 0 0 / 38%);
  background-color: #0074e9;
}
.btn span {
  font-size: 1.1rem;
  font-weight: 800;
  color: #fefefe;
}



/* ------------------------------------ */
/* #footBox */
#footBox {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 30px;
  text-align: center;
}
address p {
  font-size: 0.75rem;
  color: #5a5a5a;
}