@charset "UTF-8";
/* test_coupang_sign_up 2.css*/

/* common.css */
input:focus,
input:active {
  outline: 0;
  /* border: 0; */
  border-bottom: 2px solid #0174E9;
}




/* ===================================== */
a:hover {
  text-decoration: none;
}
html, body {
  width: 100%;
  height: 100%;
}

#wrap {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding: 0 100px;
  padding-top: 40px;
  background-color: #fefffe;
}

h1 {
  width: 230px;
  height: 50px;
  margin: auto;
  /* margin-bottom: 30px; */
  text-align: center;
  line-height: 40px;
  font-size: 3.5rem;
  margin-bottom: 10px;
  /* background-color: #03c75a; */
}
h1 a {
  display: block;
  width: 100%;
  height: 100%;
  /* background: url(https://static.coupangcdn.com/image/static/login/logo-coupang.x2.20201201.png) no-repeat; */
}
h1 span:nth-child(1) {
  color: #935127;
}
h1 span:nth-child(2) {
  color: #F7552F;
}
h1 span:nth-child(3) {
  color: #FEC408;
}
h1 span:nth-child(4) {
  color: #88CB2F;
}
h1 span:nth-child(5) {
  color: #31B3DD;
}

/* ------------------------------------ */
section {
  width: auto;
  height: auto;
  margin: auto;
  /* background-color: #faa; */
}

fieldset {
  width: 100%;
  height: auto;
  /* min-height: 50px; */
  margin-bottom: 30px;
  /* background-color: #e43; */
}
fieldset ul {
  position: relative;

  width: 100%;
  height: auto;
  /* background-color: #eee; */
}
fieldset li {
  width: auto;
  height: auto;
  /* min-height: 50px; */
  margin-bottom: 12px;
}
fieldset li:last-child {
  margin-bottom: 0; 
}
fieldset li input {
  width: 100%;
  height: 50px;
  border: 1px solid #aaa;
}
fieldset .login_icon,
#userPw .login_icon {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 50px;
  height: 48px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #aaa;
  border-collapse: collapse;
  background-color: #F9F9F9;
  color: #c7c7c7;
}

/* .input_text */
fieldset .input_part .input_text {
  position: absolute;
  top: 18px;
  left: 60px;
  color: #c7c7c7;
}


/* 자동 로그인 */
form .auto_login_box {
  padding-top: 15px;
}
form .auto_login_box .auto_login_li {
  float: left;
  margin-right: 20px;
}
form .auto_login_box .auto_login_li:last-of-type {
  float: right;
  margin-top: -2px;
  margin-right: -1px;
}
/* form .auto_login_box .auto_login_li:last-of-type > a{
  color: #0A7AEA;
} */
form .auto_login_box .auto_login_li:last-of-type > a::after {
  content: '>';
}
#autoLogin {
  width: 25px;
  height: 25px;
}

.auto_login_li label{
  font-weight: 300;
  font-size: 0.95rem;
  line-height: 30px;
  margin-left: -10px;
}
.auto_login_li > a {
  color: #0A7AEA;
  font-size: 0.95rem;
  line-height: 35px;
}


/* 로그인 버튼 */
.login_btn_box {
  position: relative;
}
.login_btn_box input {
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  box-shadow: 0.025rem 2px rgb(1, 43, 135);
  border-radius: 2px;
  border: 0;
  background-color: #0174E9;
}
.login_btn_box:after,
.login_btn_box::after {
  position: absolute;
  top: 65px;
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

/* 회원가입 */
.sign_up_btn_wrapper input {
  width: 100%;
  height: 50px;
  color: #0174E9;
  font-size: 1.1rem;
  font-weight: 700;
  box-shadow: 0.025rem 1px rgb(184, 184, 184);
  border: 1px solid #cbcbcb;
  border-radius: 2px;
  background-color: #fff;
}

/* footer */
#footBox {
  width: auto;
  height: auto;
}
#footBox address {
  width: 100%;
  height: 100%;

}
#footBox p {
  width: 200px;
  height: auto;
  margin: auto;
  font-size: 0.8rem;
  font-weight: 400;
  color: #5a5a5a;
}
