@charset "UTF-8";
/* float_layout_ex03.css */

/* solution - 1 */
/* .box_03 {
  width: 600px;
  height: 600px;
  background-color: #95d6a4;
  text-align: center;
}
.wrap {
  display: inline-block;
  width: 200px;
  height: inherit;
}
.inner_01 {
  width: 200px;
  height: 50%;
  background-color: #456ea2;
}

.inner_02 {
  width: 200px;
  height: 50%;
  background-color: #fff9eb;
} */

/* .box_03::after {
  content: '';
  display: block;
  clear: both;
} */

/* https://ranidiant.tistory.com/50 */

/* --------------------------------- */

/* solution - 2 */
.box_03 {
  width: 600px;
  height: 600px;
  background-color: #ada;
  margin: auto;
}

.box_03 > div {
  width: 200px;
  height: 50%;
  margin: auto;
}
.inner_01 {
  background-color: #55d;
}
.inner_02 {
  background-color: #ddd;
}