@charset "UTF-8";
/* float_layout_ex05.css */

.box_05 {
  width: 600px;
  height: auto;
  background-color: #95d6a4;
} 

.inner_01 {
  width: 200px;
  height: 600px;
  background-color: #456ea2;
  float: left;
}
.inner_02 {
  width: 200px;
  height: 600px;
  background-color: #fff9eb;
  float: left;
}
.inner_03 {
  width: 200px;
  height: 600px;
  background-color: #ffcf5d;
  float: left;
}


.inner_01 > .insert {
  width: 100%;
  height: 200px; 
  background-color: #ffcf5d;
}
.inner_02 > .insert {
  width: 100%;
  height: 200px;
  background-color: #db5446;
  margin-top: 200px;
  /* margin: auto 0; */
}
.inner_03 > .insert {
  width: 100%;
  height: 200px;
  background-color: #7e94ff;
  margin-top: 400px;
}


/* clearfix */
.box_05::after {
  content: '';
  display: block;
  clear: both;
}