@charset "UTF-8";
/* float_layout_ex06_ver.2.css */

.box_06 {
  width: 600px;
  height: auto;
  background-color: #95d6a4;
}

.inner_01 {
  width: 100%;
  height: auto;
  background-color: #456ea2;
}
.inner_02 {
  width: 100%;
  height: auto;
  background-color: #fff;
}
.inner_03 {
  width: 100%;
  height: auto;
  background-color: #ffcf5d;
}


.inner_01 > .insert_01 {
  width: 230px;
  height: 200px;
  background-color: #ffcf5d;
  /* margin-right: 50px; */
}
.inner_01 > .insert_02 {
  width: 230px;
  height: 200px;
  background-color: #fff9eb;
  float: right;
}


.inner_02 > .insert_01 {
  width: 230px;
  height: 200px;
  background-color: #db5446;
}
.inner_02 > .insert_02 {
  width: 140px;
  height: 200px;
  background-color: #6c7a88;
  /* margin: 0 auto; */
}
.inner_02 > .insert_03 {
  width: 230px;
  height: 200px;
  background-color: #c69a82;
}


.inner_03 > .insert_01 {
  width: 370px;
  height: 200px;
  background-color: #7e94ff;
}
.inner_03 > .insert_02 {
  width: 230px;
  height: 200px;
  background-color: #6c7a88;
}

/* float */
.floated {
  float: left;
  display: block;
}


/* claerfix */
.inner_01::after {
  content: '';
  display: block;
  clear: both;
}
.inner_02::after {
  content: '';
  display: block;
  clear: both;
}
.inner_03::after {
  content: '';
  display: block;
  clear: both;
}

