@charset "UTF-8";
/* float_layout_ex04.css */

.box_04{
  width: 600px;
  height: auto;
  background-color: #95d6a4;
}

.inner_01 {
  width: 100%;
  height: 200px;
  background-color: #456ea2;
}
.inner_02 {
  width: 100%;
  height: 200px;
  background-color: #fff9eb;
}
.inner_03 {
  width: 100%;
  height: 200px;
  background-color: #ffcf5d;
}

.inner_01 > .insert {
  width: 60%;
  height: 200px;
  background-color: #ffcf5d;
  margin: 0 auto;
}
.inner_02 > .insert {
  width: 45%;
  height: 200px;
  background-color: #db5446;
  margin: 0 auto;
}
.inner_03 > .insert {
  width: 60%;
  height: 200px;
  background-color: #7e94ff;
}