@charset "UTF-8";
/* float_layout_ex01.css */

.box_01 {
  width: 600px;
  height: 600px;
  background-color: #95d6a4;
}
.inner_01 {
  width: 100%;
  height: 200px;
  background-color: #456ea2;
}
.inner_02 {
  width: 100%;
  height: 200px;
  background-color: #fff9eb;
}
.inner_03 {
  width: 100%;
  height: 200px;
  background-color: #ffcf5d;
}

