@charset "UTF-8";
/* float_layout_ex02.css */

.box_02 {
  width: 600px;
  height: 600px;
  background-color: #95d6a4;
}
.inner_01 {
  float: left;
  width: 200px;
  height: 100%; 
  background-color: #456ea2;
}
.inner_02 {
  float: left;
  width: 200px;
  height: 100%; 
  background-color: #fff9eb;
} 
.inner_03 {
  float: left;
  width: 200px;
  height: 100%; 
  background-color: #ffcf5d;
}
