
.event_check {
  $color_white: $color_white;
}
button {
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
  background-color: #eee;
}
button:hover { transform: scale(1.05); }

.end .event_check {
  
}