@charset "UTF-8";
/* test.css*/
/* 수업시간 중 짠 코드 */

/* layout common */
.container {
  float: left;
  width: 750px;
}
/* design
=============================================== */
#wrap {
  width: 1000px;
  height: 650px;
  margin: auto;
  /* background-color: #ddd; */
}


/* header  
------------------------------------------------*/
#headBox {
  position: relative;
  z-index: 1000;
  float: left;
  width: 250px;
  height: 650px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fdf;
}
h1 {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: #999;
}
h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
.navigation {
  width: 100%;
  height: auto;
}
.navigation ul {
  width: 100%;
  height: auto;
}
.navigation li {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  /* padding: 10px; */
  /* box-sizing: border-box; */
}
.navigation dl {
  width: 100%;
  height: 100%;
  background-color: #faa;
}
.navigation dt {
  width: 100%;
  height: 100%;
  padding: 3px;
  box-sizing: border-box;
  background-color: #faa;
}
.navigation dt a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 36px;
  /* background-color: #ffa; */
}
.navigation dd {
  display: none;
  width: 100%;
  height: auto;

  /* min-height: 140px; */
  margin-left: 100%;
  /* 원근법도 달라지게 하는 부수효과 발생! */
  /* transform: translateY(-50%); */
  transform: translateY(-20%);

  background-color: #333;
}
.navigation li:hover dd {
  display: block;
}
.navigation li:hover dt a {
  color: #fff;
    background-color: #333;
}

.navigation dd a {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  box-sizing: border-box;
}
.navigation dd a:hover {
  color: #333;
  background-color: #fff;
}
.navigation dd a:focus {
  color: #f06;
  font-size: 1.1rem;
  background-color: #ddd;
}



/* #viewBox */
#viewBox {
  height: 350px;
  background-color: #ddd;
}


/* main
------------------------------------------------*/
#conBox {
  height: 200px;
  /* background-color: #aaa; */
}
.notice_gallery {
  float: left;
  width: 65%;
  height: 100%;
  padding: 10px;
  /* background-color: #ccc; */
}
.notice_gallery dl {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #eee;
}
.notice_gallery dt {
  float: left;
  
  width: 45%;
  height: 25px;
  border-right: 1px solid #333;
  background-color: #fd0;
}
.notice_gallery:last-of-type {
  border: 0;
}
.notice_gallery dd {
  position: absolute;
  left: 0;
  top: 25px;

  width: 100%;
  height: calc(100% - 25px);
  display: none;
}

dd.notice {
  background-color: #aff;
}
dd.gallery {
  background-color: #faa;
}
dt.action + dd {
  display: block;
}

.location_link {
  float: left;

  width: 35%;
  height: 100%;
  padding: 20px;
  background-color: #fff;
}
.location_link button {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #575757;
}

/* 모달 */
.modal_area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1500;
  margin: auto;
}
.modal_message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  
  width: 700px;
  height: 400px;
  padding: 10px;
  border: 1px solid #333;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.9);
}
.modal_message .close {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
}
.modal_message .close button {
  width: 100px;
  height: 40px;
  border-radius: 0.3rem;
  background-color: #ccc;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.modal_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.7);
}
/* 모달 이벤트 */
.location_link > button:hover + .modal_area{
  display: block;
}


/* footer 
------------------------------------------------*/
#footBox {
  height: 100px;
  background-color: #ccc;
}


