// _headBox.scss -> 앞에 _를 붙이면 css로 변환을 안하겠다는 의미


#headBox {
  width: 100%;
  height: 100px;
  background-color: #ccc;
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
  h1 { 
    // float: left;
    width: 120px;
    height: 70px;
    background-color: #fff;
  }
  #naviBox {
    // float: right;
    width: 530px;
    height: 70px;
    background-color: #dff;
  }