// variable.scss


// =================================
// font size
$baseSize: 16;

// =================================
// psuedo code 
$psuedoCode: (
  "hover":#87f,
  "focus":#4f3,
  "active":#fda,
  "select":#dfd
); // dic(map)


// =================================
// color 
$yellow : #fa0;
$blue: (#00f, #0af, #0df, #7af, #adf);   // list 
$gray: (#555, #777, #999, #bbb, #ddd);   // list 
$white: #fff;


// =================================
// veiwport size 
$mobile: 320;
$tablet: 768;
$laptop: 1200;
$pc: 1440;
$pc_full: 1920;



// =================================
// 



// =================================
// =================================
// =================================
// =================================