@charset "UTF-8";
// reset.scss 
/* reset.css */

$baseSize: 16; 

:root {
  font-size: $baseSize;
}

/* -------------------------- */
html, body {
  padding: 0;
  margin: 0;
}
/* -------------------------- */
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* -------------------------- */