@charset "UTF-8";
/* test_4.css*/

/* design 
=================================*/
#wrap {
  width: 1200px;
  height: 700px;
  margin: auto;
  background-color: #eee;
}


/* #headBox 
---------------------------------- */
#headBox {
  width: 100%;
  height: 100px;
  background-color: #ccc;
}
  h1 {
    float: left;

    width: 100px;
    height: 100px;
    background-color: #faa;
  }
  nav {
    float: right;

    width: 800px;
    height: 60px;
    margin-top: 20px;
    background-color: #faf;
  }
  dl {
    float: left;

    width: 200px;
    height: 60px;
    background-color: aqua;
  }
  dt {
    text-align: center;
    line-height: 60px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: aquamarine;
  }
  nav dl dd {
    display: none;
  }
  nav dl dd a {
    display: block;
    width: 190px;
    height: 40px;
    margin-left: 5px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #333;
    border-collapse: collapse;
    background-color: #faa;
  }
  /* event */
  /* tip! nav:hover 를 하면 전체 메뉴가 나온다! */
  dl:hover dt + dd {
    display: block;
  }


/* #viewBox 
---------------------------------- */
#viewBox {}


/* #mainBox 
---------------------------------- */
/* #mainBox {} */


/* #noticeAndGallery 
---------------------------------- */
#noticeAndGallery {
  width: 600px;
  height: 200px;
  margin: 30px auto;
  background-color: #fff;
}
  #noticeAndGallery button {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(235, 152, 235);
  }

    .notice_and_gallery_cons {
      width: inherit;
      height: inherit;
      padding: 30px;
      box-sizing: border-box;
      background-color: rgb(150, 111, 150);
    }
    .notice_con, 
    .gallery_con {
      display: none;
    }
    .notice_con.active, 
    .gallery_con.active {
      display: block;
    }
    .gallery_con_box {
      float: left;

      width: 100px;
      height: 100px;
      margin-right: 50px;
      background-color: #fea;
    }



/* #subViewBox 
---------------------------------- */
/* #subViewBox {} */


/* #shortcutBox 
---------------------------------- */
/* #shortcutBox {} */
.modal_area {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  /* background-color: red; */
}
.modal_message {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -200px;
  margin-right: -200px;
  
  width: 400px;
  height: 400px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
}
.close {
  position: absolute;
  bottom: 30px;
  right: 30px;

  width: 50px;
  height: 30px;
  border-radius: 5px;
  background-color: #faf;
}
.modal_bg {
  /* position: fixed; */

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}



/* #footBox 
---------------------------------- */
#footBox {}



