@charset "UTF-8";
/* layout_01.css*/


/* reset.css 
==========================================*/
body {
  margin: 0;
  background-color: #000070;
}
h1, h2, h3, h4, h5, h6, p, pre, address, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  font-size: 1rem;  /* 1rem = 16px */
  font-family: sans-serif;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

/* common.css 
==========================================*/
.clearfix:after,
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* design
==========================================*/
#wrap {
  width: 600px;
  /* height: 500px; */
  height: fit-content;
  background-color: #afd;
  margin: auto;
}


/* header 
-----------------------------------------*/
#header {
  width: 100%;    /* 향후를 고려해서 ... */
  height: 100px;
  background-color: #f06;
}
#headBox {
  /* padding: 30px 20px 20px; */
  border: 1px solid #0af;
}
  h1 {
    float: left;
    /* width: 120px;
    height: 100px; */
    width: 120px;
    height: 100px;
    background-color: lightskyblue;
  }
  .navigation {
    float: right;
    width: 400px;
    /* height: 100px; */
    height: 50px;
    /* padding-top: 50px; */
    /* box-sizing: border-box; */
    background-color: yellow;
  }
    .navigation ul {
      float: right;
      width: auto;
      height: auto;
      /* background-color: #fff; */
    }
      .navigation li {
        float: left;
        width: 50px;
        height: 40px;
        margin-left: 20px;
        background-color: #35a;
        color: #fff;
        /* width: 40px;
        height: 50px;
        margin-left: 10px; */
      }
      .navigation li a {
        /* 클리커블한 영역을 너비와 높이를 100%해서... 확장해준다! */
        display: block;
        width: 100%;
        height: 100%;
        background-color: #ca7;
      }
      .navigation li:first-child {
        margin-left: 0;
      }


/* section 
-----------------------------------------*/
#section {
  width: 100%;   /* 향후를 고려해서 ... */
  height: 100%;
  background-color: #fb3;
}
  #section > div {
    float: left;
    height: 300px;    
  }
  .sect_01 {
    width: 40%;
    background-color: green;
  }
  .sect_02 {
    width: 60%;
    background-color: gray;
  }

/* #aside
---------------------------------------- */
#aside {
  width: 100%;
  height: auto;
}
#aside > div {
  float: left;
  width: calc(100% / 3);
  height: 300px;
}
.side_01 {
  background-color: rgb(232, 211, 254);
}
.side_02 {
  background-color: rgb(63, 89, 73);
}
.side_03 {
  background-color: rgb(166, 108, 247);
}

/* #article
---------------------------------------- */
#article {
  width: 100%;
  height: auto;
  background-color: #7a7;
}
.art_01 {
  float: left;
  width: calc(100% / 3);
  height: 300px;
  background-color: rgb(26, 26, 63);
}
.art_02 {
  float: right;
  width: calc(100% / 3 * 2);
  height: 150px;
  background-color: rgb(242, 102, 70);
}
.art_03 {
  float: right;
  width: calc(100% / 3 * 2);
  height: 150px;
  background-color: rgb(186, 93, 211);
}

/* #content
---------------------------------------- */
#content {
  width: 100%;
  height: auto;
}
#content > .art_01 {
  float: left;
  width: 70%;
  height: 150px;
  /* background-color: rgb(26, 26, 63); */
}
#content > .art_02 {
  float: left;
  width: 70%;
  height: 350px;
  /* background-color: rgb(242, 102, 70); */
}
#content > .art_03 {
  float: left;
  width: 30%;
  height: 500px;
  margin-top: -150px;
  /* background-color: rgb(186, 93, 211); */
}


/* footer  
-----------------------------------------*/
#footer {
  width: 100%;    /* 향후를 고려해서 ... */
  height: 100px;
  background-color: #54f;
}
