// main.scss
/* main.css */

@import "../common/variable";
@import "../common/mixin";
// --------------------------------
 // 아래의 변수의 수치는 다른 곳에서 정할 것 -> _headBox.scss 참고!  
  $headH: 0;
  $headH2: 0;
// --------------------------------

#wrap {
  width:100%; 
  height:auto; min-height:800px;
  background-color: #ddd;

  @include mobile{
    min-width: 320px;
    background-color: #fda;
  }
  @include tablet{
    background-color: #adf;
  }
  @include laptop{
    background-color: #fdf;
  }
  @include pc{
    background-color: #dfd;
  }

  
}// #wrap

// ----------------------------------
@import "../page/base/headBox";

@import "../page/main/slideBox";
@import "../page/main/newBox";
@import "../page/main/commercialBox";
@import "../page/main/bestBox";
@import "../page/main/galleryBox";
@import "../page/main/sponsorBox";

@import "../page/base/footBox";
// ----------------------------------


  #headBox {
    position: fixed; top: 0; left: 0; z-index:1000;
    width: 100%; height: $headH; background-color: #fff;
  }
  #slideBox {
    width:100%; height:100vh; padding-top:$headH;
    background-color: #dff;
  }  

  // #newBox {}
  // #commercialBox {}
  // #bestBox {}
  // #galleryBox {}
  // #sponsorBox {}
  // #footBox {}
