@mixin font_set() {
  font-family: $font-family_en, $font-family_kr, $font-family_common;
  font-style: $font_style_normal;
}

@mixin text_option($size: title3, $weight: 4, $line: false) {  // $line이 참이면 ... 거짓이면 ... 
  font-size: map-get($map:$font_size, $key: $size);
  font-weight: nth($font_weight, $weight);
  @if $line {.  // @if 추가 및 적용 -> 참/거짓에 따라 
    line-height:24px;
    letter-spacing:-0.006em;
  }
}

@mixin effect_style_shadow_01 {
	box-shadow:0px 4px 4px rgba(0,0,0,0.250);
}