// variable.scss 

// color ===============================
$color_primary_01: #1a5d54;
$color_primary_02: #834c33;
$color_light_gray_01: #c4c4c4;
$color_light_gray_02: #aaaaaa;
$color_light_gray_03: #757575;
$color_deep_gray: #505050;
$color_black_01: #333333;
$color_black_02: #171717;
$color_white: #ffffff;
$color_gray_op: rgba(85,85,85,0.300);
$color_yellow_01: #ffbd55;
$color_yellow_02: #f7e9d3;
$color_white_02: #efefef;
// ===============================


// font ===============================
$font-family_en: "apple GD", "noto sans KR";
$font-family_kr: "noto sans KR", "IBM Plex Sans KR";
$font-family_common: sans-serif;
$font_weight_thin: 300;
$font_weight_normal: 400;
$font_weight_bold: 500;
$font_weight_bolder: 700;
$font_weight: (300, 400, 500, 700); // 리스트
// $font_size: (40px, 36px, 28px, 24px, 22px, 18px, 16px, 12px, 10px, 9px); // 맵 
$font_size: ( 
  title2: 40px, title3: 36px, title4: 28px, title5: 22px, 
  content1: 18px, content2: 16px, content3: 12px, content5: 10px, 
  button: 22px, option1: 12px, option2: 10px, option3: 9px);
$font_style_normal: normal;

// ===============================
// @mixin font_set() {
//   font-family: $font-family_en, $font-family_kr, $font-family_common;
//   font-style: $font_style_normal;
// }


// @mixin text_option($size: map-get($map:$font_size2, $key: title2), $weight: nth($font_weight, 4)) {
//   line-height:24px;
// 	letter-spacing:-0.006em;
//   font-weight: $weight;
// }
// @mixin text_option($size: title3, $weight: 4) {
//   font-size: map-get($map:$font_size, $key: $size);
//   font-weight: nth($font_weight, $weight);
//   line-height:24px;
// 	letter-spacing:-0.006em;
// }


// @mixin text_option($size: title3, $weight: 4, $line: false) {  // $line이 참이면 ... 거짓이면 ... 
//   font-size: map-get($map:$font_size, $key: $size);
//   font-weight: nth($font_weight, $weight);
//   @if $line {.  // @if 추가 및 적용 -> 참/거짓에 따라 
//     line-height:24px;
//     letter-spacing:-0.006em;
//   }
// }



// @mixin text_style_title_02 {
// 	font-size:40px;
// 	font-weight: $font_weight_bolder;
// }
// @mixin text_style_title_03 {
// 	font-size:36px;
// 	font-weight:$font_weight_bolder;
// }
// @mixin text_style_title_04 {
// 	font-size:28px;
// 	font-weight:$font_weight_bolder;
// }
// @mixin text_style_title_05 {
// 	font-size:22px;
// 	font-weight:$font_weight_bolder;
// }
// @mixin text_style_content_01 {
// 	font-size:22px;
// 	font-weight:$font_weight_bold;
// }
// @mixin text_style_content_02 {
// 	font-size:18px;
// 	font-weight:$font_weight_bold;
// }
// @mixin text_style_content_03 {
// 	font-size:16px;
// 	font-weight:$font_weight_bold;
// }
// @mixin text_style_content_04 {
// 	font-size:12px;
// 	font-weight:$font_weight_bold;
// }
// @mixin text_style_content_04_1 {
// 	font-size:12px;
// 	font-weight:$font_weight_bold;
// }
// @mixin text_style_button_text {
// 	font-size:22px;
// 	font-weight:$font_weight_bolder;
// }
// @mixin text_style_style_code_01 {
// 	font-size:9px;
// 	font-weight:$font_weight_bold;
// 	@include text_option;
// }
// @mixin text_style_style_code_02 {
// 	font-size:10px;
// 	font-weight:$font_weight_bold;
// 	@include text_option;
// }
// @mixin text_style_style_code_03 {
// 	font-size:12px;
// 	font-weight:$font_weight_bold;
// 	@include text_option;
// }


// @mixin effect_style_shadow_01 {
// 	box-shadow:0px 4px 4px rgba(0,0,0,0.250);
// }
// ===============================
