@charset "UTF-8";
/* b_04_mpbo.css*/

#wrap {
  width: 900px;
  height: auto;
  margin: auto;
  padding-bottom: 500px;
  background-color: #eee;
}

.ex_part {
  margin-bottom: 50px;
  background-color: #ddd;
}

.ex {
  width: 95%;
  height: auto;
  /* border: 1px solid #777; */
  margin: auto;
}

.ex > div {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-color: #07a;
  background-image: linear-gradient(45deg, #07a, #5a7);
  color: #fff;
  font-weight: 900;
}

/* Margin: 외부 여백 - 요소와 요소 사이의 공백 */

.m_base {
  /* border: 1px solid violet; */
  width: 200px;
  background-color: #fda;
}

.m_base::after {
  content: '';
  display: block;
  clear: both;
}

.m_base > div {
  float: left;
}

.margin_01 {
  /* margin-left: 50px; */
  margin-bottom: 10px;
  /* margin-top: 50px; */
  margin-right: 100px;
}
.margin_02 {
  margin-top: 50px;
  /* margin-left: 30px; */
  /* margin-bottom: 100px; */
}

/* ------------------------------------- */
.m_base2 {
  margin-top: 50px;
  border: 1px solid black;
}
.m_base2::after {
  content: '';
  display: block;
  clear: both;
}
.m_base2 > div {
  float: left;
}
.m_01 {
  margin: 50px;
}
.m_02 {
  margin: 10px 30px;
}
.m_03 {
  margin: 10px 50px 30px;   /* 위 왼쪽/오른쪽 아래*/
}
.m_04 {
  margin: 5px 20px 40px 70px;
}
.m_05 {
  /* margin: 20px 20px 10px 20px; */
  /* margin: 20px 20px 10px; */
  margin: 20px;
  margin-bottom: 10px;
}
.m_06 {
  margin: 0 auto;
}
.m_07 {
  margin-top: -50px;
  /* margin-top: -400px; */
}
/* .m_base2 {
  overflow: hidden;
} */
.m_08 {
  /* %로 마진을 먹히면 뭘 기준으로 %를 먹이는지는 아무도 모름! */
  margin-left: 10%;
  margin-top: 10%;
}

/* ------------------------------------- */

.float_area {
  width: 500px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  border: 1px solid #333;
  list-style: none;
}
.float_area:after, 
.float_area::after {
  content: '';
  display: block;
  clear: both;
  width: 100%;
  height: 30px;
  background-color: #fff;
}

.float_area > li {
  float: left;
  width: 100px;
  height: 100px;
  background-image: linear-gradient(60deg, #adf, #f7a);
}

.l_01 {
  /* margin-right: 10px; */
  margin-bottom: 10px;
}
.float_area > .l_02 {
  height: 50px;
  margin-bottom: 10px;
}

/* ------------------------------------- */

.p_base {
  padding: 0;
  list-style: none;
  width: 600px;
  height: auto;
}
.p_base::after {
  content: '';
  display: block;
  clear: both;
}

.p_base > li {
  float: left;
  width: 100px;
  height: 100px;
  background-color: #dfa;
  background-image: linear-gradient(45deg, #dfa, #7c8);
}
.p_base span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.p_01 {
  padding: 5px;
}
.p_02 {
  padding: 20px 40px;
}
.p_03 {
  padding: 10px 40px 5px;
}
.p_04 {
  padding: 5px 10px 20px 40px;
}
.p_05 {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 20px;
}
.p_06 {
  padding-top: 10%;
  padding-left: 10%;
}
.p_07 {
  padding: 10px;
  padding-right: 40px;
}
.p_base .p_08 {
  padding-top: 30px;
  background-image: none;
  background-color: transparent;
}
.p_09 {
  padding: 30px;
  box-sizing: border-box;
}
.p_10 {
  padding: 30px;
}

/* border------------------------------------- */

.b_base {
  padding: 0;
  list-style: none;
  margin: auto;
}
.b_base:after, .b_base::after {
  content: '';
  display: block;
  clear: both;
  /* width: 100%; */
  /* height: 10px; */
  /* background-color: #aff; */
}
.b_base > li {
  float: left;
  width: 100px;
  height: 100px;
  margin: 30px;
  background-color: #5a5;
}

.b_01 {
  border: 5px solid #f07;
}
.b_02 {
  border: 5px dashed #dff;
  box-sizing: border-box;
}
.b_03 {
  border: 10px dashed #dff;
  box-sizing: border-box;
}
.b_04 {
  border: 10px dotted #faa;
  padding: 10px;
  background-clip: border-box;

  /* background-clip은 배경을 처리하는 아인데, 디폴트는 border-box 이고 
  이 외에도 padding-box, content-box, inherit이 있다. 
  cf. https://www.codingfactory.net/10582  */
}
.b_05 {
  border: 5px solid #fac;
  border-top: 4px dashed #aff;
  border-left-color: #afc;
  border-right-width: 10px;
  /* border-bottom-width: 0; */
}
.b_06 {
  border-top: 5px solid #fac;
  border-bottom: 5px solid #fac;
}
.b_06 button {
  /* html과 css로 삼각형 (버튼) 만들기 */
  cursor: pointer;
  padding: 0;
  border: 20px solid transparent;
  border-left:40px solid #f33;
  border-right: 0;
  background-color: transparent;
}
.b_06 span {
  /* 접근 가능한 숨김 처리 */
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}


/* outline------------------------------------- */

.o_base {
  list-style: none;
  /* margin: 0; */
  padding: 0;
  margin: auto;
}

.o_base > li {
  width: 100px;
  height: 100px;
  margin: 50px;
  background-color: #37a;
}
.o_01 {
  outline: 5px solid #fa0;
}
.o_02 {
  /* outline-top -> 불가능! border와는 다른게 방향을 설정해줄 수 없다!  */
  outline: 5px dotted #fa0;
  outline-offset: 25px;
  border: 10px solid #afc;
}
.o_03 > a {
  /* "야매"로 박스 통으로 클리커블하게 만들어버리기... */
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 100px;
}
.o_04 > button {
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  width: 100%;
  height: 100%;
  /* border-radius: 0; */
  background-color: transparent;
  cursor: pointer;
  color: #fff;
}

.o_03 a:hover,
.o_04 button:hover {
  color: #171717;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 300ms ease;
}

.o_03 a:focus,
.o_04 button:focus {
  outline: 5px solid #f07;
  background-color: #fa0;
  font-size: 1.2rem;
}
