@charset "UTF-8";
/* b_05_form_question.css*/

/* ------------------------------------------- */
#wrap {
  width: 800px;
  height: auto;
  margin: auto;
}
h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.part {
  width: 100%;
  height: 450px;
  background-color: #eee;
}
h2 {
  width: 100%;
  height: auto;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

/* ------------------------------------------- */
/* form */
form {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background-color: #fad;
}
fieldset {
  width: 100%;
  height: auto;
  padding: 1rem;
  box-shadow: 0.3rem 0.3rem 0.3rem #777;
  background-color: #ddd;
}

/* .title_area 
--------------------------------------*/
  .title_area {
    /* 위치 */
    position: relative;

    width: 100%;
    height: 30px;
    margin-bottom: 1rem;
    box-shadow: inset 0.1rem 0.1rem 0.2rem #999;
    background-color: #fff;
  }
  /* label */
    label {
      /* 위치 */
      /* float: left; */
      display: block;

      /* 스타일링 */
      width: 100px;
      height: 100%;
      font-weight: 700;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      text-align: center;
      color: #07a;
    }   
  /* input */
    #writeTitle {
      /* 위치 */
      position: absolute;
      top: 0;
      left: 0;

      /* float: right; */
      display: block;

      /* 스타일링 */
      width: 100%;
      height: 100%;
      /* input은 기본적으로 패딩과 보더가 있음! */
      padding: 0;
      border: 0;

      text-indent: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
    }

    /* 많이 쓰는 기법! */
    #writeTitle:focus {
      background-color: rgba(255, 255, 255, 1);
    } 

    /* .action */
    #writeTitle.action {
      background-color: rgba(255, 255, 255, 1);
    } 



/* .content_area 
--------------------------------------*/
  .content_area {
    width: 100%;
    height: 450px;
    background-color: #fff;
  }
    #writeContent {
    }