/* c_11_responsive_02.css*/

@import url("../c_11_rwd/a_base.css");
@import url("../c_11_rwd/b_smartphone.css");
@import url("../c_11_rwd/c_tablet.css");
@import url("../c_11_rwd/d_pc.css");



/* 공통 */
#wrap {
  width: 100%;
  height: auto;
  min-height: 400px;
  background-color: #ccc;
}
  #headBox {
    width: 100%;
    background-color: #fd0;
  }
  #viewBox {
    width: 100%;
    background-color: #fd9d;
  }
  #conBox {
    width: 100%;
    background-color: #afa;
  }
  #otherBox {
    width: 100%;
    background-color: #aff;
  }
  /* .info_area {} */
  /* .notice_area {} */
  #footBox {
    width: 100%;
    height: 100px;
    background-color: #a70;
  }
    #footBox h2 {
      height: 100px;
      background-color: #0af;
    }


/* max-width: 480px */
@media all and (max-width: 480px) {
  #wrap {
    /* 추천사항 */
    min-width: 320px;

    background-color: #fda;
  }
    #headBox {
      position: relative;

      height: 100px;
    }
      h1 {
        width: 100%;
        height: 100%;
        padding: 5px 100px;
        background-color: #aca;
      }
      #gnbBox {
        position: absolute;
        right: 10px;
        top: 30px;

        width: 45px;
        height: 45px;
        background-color: #fff;
      }
      .nav_btn {
        width: 100%;
        height: 100%;
      }
        .nav_btn > button {
          width: 100%;
          height: 100%;
        }
      .global_navigation {
        display: none;
      }
    #viewBox {
      height: 400px;
    }
    #conBox {
      height: 400px;
    }
    #otherBox {
      height: 300px;
    }
      .info_area {
        width: 100%;
        height: 100px;
        background-color: #fa0;
      }
      .notice_area {
        width: 100%;
        height: 200px;
        background-color: #f70;
      }
    /* #footBox {} */
      #footBox h2 {
        width: 50%;
        margin: auto;
      }
}/* max-width: 480px */


/* max-width: 768px */
@media all and (min-width: 481px) and (max-width: 768px) {
  #wrap {
    /* min-width: 481px; */
    background-color: #adf;
  }
    #headBox {
      height: 150px;
    }
      h1 {
        width: 100px;
        height: 100px;
        background-color: #aca;
      }
      #gnbBox {
        float: right;
        width: 400px;
        height: 50px;
        margin-top: 40px;
        background-color: #fff;
      }
      .nav_btn {
        display: none;
      }
      .global_navigation {
        width: 100%;
        height: 100%;
      }
      .global_navigation li {
        float: left;
        width: 80px;
        height: 100%;
        margin-left: 20px;
        background-color: #ddf;
      }
      .global_navigation li:first-child {
        margin-left: 0;
      }
      #viewBox {
        height: 300px;
      }
      #conBox {
        height: 400px;
    }
      #conBox li {
        width: 25%;
        height: 400px;
      }
    #otherBox {
      height: 300px;
    }
      .info_area {
        width: 100%;
        height: 100px;
        background-color: #fa0;
      }
      .notice_area {
        width: 100%;
        height: 200px;
        background-color: #f70;
      }
    /* #footBox {} */
      #footBox h2 {
        width: 100px;
        margin: auto;
      }
}/* max-width: 768px */

/* max-width: 960px */
/* @media all and (min-width: 769px) and (max-width: 960px) { */
@media all and (min-width: 769px) {
  #wrap {
    background-color: #afa;
  }
    #headBox {
      height: 150px;
    }
      h1 {
        float: left;
        width: 100px;
        height: 100px;
        background-color: #aca;
      }
      #gnbBox {
        float: right;
        width: 400px;
        height: 50px;
        margin-top: 40px;
        background-color: #fff;
      }
      .nav_btn {
        display: none;
      }
      .global_navigation {
        width: 100%;
        height: 100%;
      }
        .global_navigation li:first-child {
          margin-left: 0;
        }      
        #viewBox {
      height: 450px;
    }
    #conBox {
      height: 600px;
    }
      #conBox li {
        width: 25%;
        height: 600px;
      }
    #otherBox {
      display: none;
    }
      .info_area {
        width: 100%;
        height: 100px;
        background-color: #fa0;
      }
      .notice_area {
        width: 100%;
        height: 200px;
        background-color: #f70;
      }
    /* #footBox {} */
      #footBox h2 {
        width: 50%;
        margin: auto;
      }
}/* max-width: 960px */


