@charset "UTF-8";
/* test_2.css*/

/* variable.css */
:root {
  /* color */
  --color-white  : #fff;
  --color-black  : #171717;
  --color-yellow1: #fff30d;
  --color-yellow2: #baa50c;
  --color-gray1  : #adadad;
  --color-gray2  : #7d7d7d;
  --color-gray3  : #505050;
  --color-gray4  : #757575;

  /* font */
  --font-point   : 50px;
  --font-title   : 32px;
  --font-normal  : 16px;
  --font-regular : 14px;
  --font-small   : 12px;
}


/* design 
-------------------------------------*/
html, body {
  font-family: 'Noto Sans KR', sans-serif;
  /* background-color: #fcd; */
}

#wrap {
  position: relative;
  width: 980px;
  height: 850px;
  width: 61.25rem;
  height: 53.125rem;
  padding-top: 1.875rem;
  /* background-color: #757575;
  background-color: var(--color-gray4); */
}


/* #headBox 
-------------------------------------*/
#headBox {
  float: left;
  width: 15.625rem;
  height: 44.375rem;
  padding: 56px 52px 50px 42px;
  box-sizing: border-box;
  background-color: var(--color-gray4);
}
h1 {
  width: 100%;
  height: 104px;
  margin: auto;
  /* margin-bottom: 42px; */
  background-color: #fa0;
}
h1 a {
  background: url(../../images/logo.png);
}
.gnb {
  width: 100%;
  height: auto;
  min-height: 300px;
  font-size: var(--font-title);
  color: var(--color-white);
  text-transform: uppercase;
  background-color: #555;
  line-height: 1;
  letter-spacing: -0.0625rem;
  -webkit-font-stretch: condensed;
  -moz-font-stretch: condensed;
  -ms-font-stretch: condensed;
  -o-font-stretch: condensed;
  font-stretch: condensed;
}
.gnb > ul {
  width: 100%;
  height: auto;
  padding-right: 20px;
}
.gnb li {
  width: 100%;
  height: 40px;
  margin-bottom: 24px;
  padding-bottom: 5px;
  border-bottom: 4px solid var(--color-white);
  /* background-color: #77f; */
}
.gnb li:last-of-type {
  /* 마지막 요소니까 이것만 플로트 가능.
  단, 부모 요소 ul에 clearfix 해주기 */
  /* float: right; */
  /* 또는 마진으로 처리 가능! */
  margin-left: 20px;
  width: 110px;
  height: 110px;
  /* 팁!
  여기서 부터 아래 5줄은 사실 자식요소인 a태그에 넣어줘도 되는 애들....
  근데 다른거는 다 상속받을건데 color만 명확하게 a {color: inherit;}으로 명시해주면 됨!
   */
  font-size: var(--font-point);
  color: var(--color-gray4);
  text-align: center;
  line-height: 110px;
  letter-spacing: -1px;
  border-bottom: 0;
}
  .gnb li:last-of-type a {
    padding: 0;
    /* li에 border-radius를 안준 이유는 어차피...
    결국에는 알맹이가 동그래야되는것! 예를 들어 li에 동그라미 만들고 
    a에 백그라운드 컬러 주면 ... 아직 A는 네모일 것. */
    border-radius: 100%;
    color: inherit;
    background-color: var(--color-white);
  }
  .gnb li:last-of-type span {
    font-size: var(--font-title);
  }

.gnb a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 3px 8px;
  padding-right: 4px;
  box-sizing: border-box;
  color: inherit;
}
.gnb a:hover {
  text-decoration: none;
}
.gnb i {
  float: right;
  font-size: var(--font-normal);
  line-height: 31px;
}


/* #viewBox 
-------------------------------------*/
#viewBox {
  position: relative;

  float: right;
  width: calc(100% - 15.625rem);
  height: 44.375rem;
  background-color: #adf;
}
/* 그냥 장식용으로서의 역활인데 div까지 쓸필요 없다... 해서 가상요소로 처리... */
#viewBox:before,
#viewBox::before {
  content: '';
  display: block;
  width: 100%;
  height: 50px;
  background-color: #fa0;
}
.view_img_1 {
  position: absolute;
  bottom: 64px;
  right: 297px;
  z-index: 10;

  width: 328px;
  height: 520px;
  background-color: #ddf;
}
.view_img_2 {
  position: absolute;
  bottom: 48px;
  right: 120px;

  width: 294px;
  height: 444px;
  background-color: #fda;
}

/* #sideBox 
-------------------------------------*/
#sideBox {
  position: absolute;
  top: 0;
  left: 0;
  
  width: auto;
  min-width: 980px;
  height: 30px;
  background-color: var(--color-gray2);
}
.unb {
  float: right;
  width: auto;
  min-width: 300px;
  height: 100%;
  background-color: #fff;
}
.unb li {
  float: left;
  width: 95px;
  height: 100%;
  padding-right: 3px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.unb li:last-child {
  width: 245px;
  text-align: left;
  text-indent: 0.5rem;
  color: var(--color-black);
}
.unb li a {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;
}

/* 화살표 만들기 -> 응용/심화편 */
/* 응용 -> 만들기!!! */
.unb li:last-child span {
  /* 기본적으로 앱솔루트는 위치를 붕 띄우는 역할.
  그러니까 디스플레이 블록으로 안전하게~  */
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10;

  /* float: right; */

  width: 56px;
  height: 1px;
  background-color: var(--color-black);
}
/* 응용 -> 만들기!!! */
.unb li:last-child span:after,
.unb li:last-child span::after {
  content: '';
  display: block;
  
  position: absolute;
  top: 0;
  right: 0;
  
  width: 10px;
  height: 10px;
  border: 1px solid var(--color-black);
  border-bottom: 0;
  border-left: 0;
  
  /* transform-origin은 transform하는 기준 위치를 설정하는 속성이다 */
  transform-origin: 50% 10%;
  transform: rotate(45deg) translateY(-50%);
}

.home {
  background-color: var(--color-gray2);
}
.study {
  background-color: var(--color-black);
}
.education {
  background-color: var(--color-yellow1);
}

/* #footBox
-------------------------------------*/
#footBox {
  clear: both;
  width: 100%;
  height: auto;
  padding: 6px 40px 25px;
  border-top: 1px solid var(--color-gray3);
  background-color: #eee;
}
#footBox h2 {
  float: left;
  width: 78px;
  height: 53px;
  margin-top: 6px;
  background-color: #ddd;
}
.site_service {
  float: left;
  width: 95px;
  height: 35px;
  margin-top: 25px;
  margin-left: 35px;
  background-color: #aaa;
}
address {
  float: left;
  width: 350px;
  height: 45px;
  margin-top: 16px;
  margin-left: 20px;
  background-color: #aaa;
  
}
.other {
  float: right;
  width: 300px;
  height: 82px;
  background-color: #ccc;
}